### Basic operation in list

In [27]:
%config IPCompleter.greedy=True

In [9]:
mlist = ['a','g','e','d','b']
nlist = ['e','k','g']
mlist.extend(nlist)               ## appending another  list with the current list
print(mlist)

['a', 'g', 'e', 'd', 'b', 'e', 'k', 'g']

In [2]:
mlist.count('g')                 ## returns the first occurence position of the item

2

In [60]:
mlist.count('z')                 ## returns 0 if the element is not in the list

0

In [63]:
mlist.index('g')                 ## returns the postion of the item in the list

1

In [10]:
mlist.pop()                     ## removing last element
print(mlist)

['a', 'g', 'e', 'd', 'b', 'e', 'k']

In [7]:
mlist.pop(1)                    ## removing element by index 
print(mlist)

['a', 'e', 'k']

In [53]:
mlist.remove('a')               ## removing specific object from list
print(mlist)

['e', 'd', 'b', 'e', 'k']

In [13]:
alist = [5,4,9,66,2,7]
alist.reverse();                ##reversing the list
print(alist)

[7, 2, 66, 9, 4, 5]

In [55]:
alist.sort()                    ## sorting all the elements of the list
print(alist)

[2, 4, 5, 7, 9, 66]

In [45]:
namelist  = ['Peter','John','Alex',"Jack"]
scorelist = [60,75,83,90]

for name in namelist:
    print(name)
    
for score in scorelist:
    print(score)
    
print(f'Max score is {max(scorelist)}')

lenofnamelist = len(namelist)
print(lenofnamelist)

namelist[1:]

Peter
John
Alex
Jack
60
75
83
90
Max score is 90
4

['John', 'Alex', 'Jack']

In [17]:
i = 0
while i<len(namelist):
    print(f'Name is {namelist[i]} and score is {scorelist[i]}')
    i+=1

Name is Peter and score is 60
Name is John and score is 75
Name is Alex and score is 83
Name is Jack and score is 90